<?php
/**
 * Initialize Devtools
 *
 * @this Webbhuset_Devtools_Block_Init
 */
    $handles = $this->getLayoutHandles();
?>

<?php // Include our javascript here so we can be sure it is only added if allowed ?>
<script src="<?php echo $this->getScriptUrl('keybind.min.js'); ?>"></script>
<script src="<?php echo $this->getScriptUrl('devtools.js'); ?>"></script>

<script>
    var devtools = new Devtools({
        baseUrl: '<?php echo Mage::getUrl() ?>',
        handles: <?php echo $handles; ?>
    });
</script>
